In [3]:
# Defining a complex number
complex_num = 3 + 4j

In [2]:
# Printing the complex number
print(complex_num)

(3+4j)

In [1]:
import pandas as pd
import numpy as np
import yaml
import datetime
import os

### Data file ###
dataset_path = (r'C:/Users/aiman/Desktop/gh_konsistensi/output/stb/konsistensi/dsB092021STB.xlsx_konsistensi.csv')   
output_file_path = ('C:/Users/aiman/Desktop/gh_konsistensi/output/stb/mapping/')

In [2]:
df = pd.read_csv(dataset_path, low_memory=False, encoding = 'unicode_escape')

print(df.shape)
df.head(5)

(11179, 210)

,KWS,JR,NOKEL,T,B,U,NG,DP,DB,BP,...,KONSISTENSI_TC11,KONSISTENSI_TC12,KONSISTENSI_TC13,KONSISTENSI_TC14,KONSISTENSI_TC15a,KONSISTENSI_TC15b,KONSISTENSI_TC16a,KONSISTENSI_TC16b,KONSISTENSI_TC16c,combined_result
0,1,4,25,21,9,26,10,7,136,24,...,1,0,1,1,1,1,1,1,1,1
1,1,4,838,21,9,34,8,2,4,21,...,1,0,1,1,1,1,1,1,1,1
2,1,4,22,21,9,24,10,7,133,77,...,1,0,1,1,1,1,1,1,1,1
3,1,4,21,21,9,46,10,7,133,19,...,1,0,1,1,1,1,1,1,1,1
4,1,4,23,21,9,38,10,8,52,12,...,1,0,1,1,1,1,1,1,1,1

In [3]:
julat_mapping = {
    'JULAT_001': '"NO KEL" di luar julat,',
    'JULAT_002': '"B" di luar julat,',          
    'JULAT_003': '"NG" di luar julat,',
    'JULAT_004': '"DP" di luar julat,',
    'JULAT_005': '"DB" di luar julat,',
    'JULAT_006': '"BP" di luar julat,',
    'JULAT_007': '"BP2" di luar julat,',
    'JULAT_008': '"ST" di luar julat,',
    'JULAT_009': '"NOTK" di luar julat,',
    'JULAT_010': '"NOIR" di luar julat,',
    'JULAT_011': '"JR" di luar julat,',
    'JULAT_012': '"NAMA" di luar julat,',
    'JULAT_013': '"NO IC" di luar julat,2',
    'JULAT_014': '"PKIS" di luar julat,',
    'JULAT_015': '"HMIS" di luar julat,',
    'JULAT_016': '"J" di luar julat,',
    'JULAT_017': '"BK" di luar julat,',
    'JULAT_018': '"TK" di luar julat,',
    'JULAT_019': '"U" di luar julat,',
    'JULAT_020': '"KET" di luar julat,',
    'JULAT_021': '"KW" di luar julat,',
    'JULAT_022': '"TP" di luar julat,',
    'JULAT_023': '"NGRI" di luar julat,',
    'JULAT_024': '"NGRA" di luar julat,',
    'JULAT_025': '"OKU" di luar julat,',
    'JULAT_026': '"P" di luar julat,',
    'JULAT_027': '"PT" di luar julat,',
    'JULAT_028': '"SJ" di luar julat,',
    'JULAT_029': '"IP" di luar julat,',
    'JULAT_030': '"FS" di luar julat,',
    'JULAT_031': '"HMWA" di luar julat,'
}

In [4]:
konsistensi_mapping = {
    'KONSISTENSI_01': 'Julat beza umur lebih dari 3 tahun. Sila semak kolum U dan TK',
    'KONSISTENSI_02': 'Nilai HMWA adalah kosong sedangkan AIR berumur lebih dari 15 tahun. Mohon semak kolum U, TK, PKIS dan HMWA',          
    'KONSISTENSI_03': 'Kod NGRA dan NGRI tidak selaras. Mohon semak kolum NGRI, NGRA KET dan KW',
    'KONSISTENSI_04': 'Kod OKU tidak selaras. Semak kolum OKU',
    'KONSISTENSI_05a': 'Kod KW tidak selaras dengan kod KET. Semak kolum KET, OKU, NGRI dan NGRA',
    'KONSISTENSI_05b': 'Kod Persekolahan tidak sesuai dengan Umur. Mohon semak kolum P, U dan S10 = 01 dan 07',
    'KONSISTENSI_06': 'Nilai Umur, Persekolahan, Taraf Pendidikan Tertinggi dan Sijil Tertinggi tida logik. Mohon semak kolum U, P, PT dan SJ',      
    'KONSISTENSI_08': 'Nilai Umur dan Taraf Perkahwinan tidak sesuai. Semak kolum U dan TP',
    'KONSISTENSI_09': 'Nilai HMIS dan HMWA tidak sama. Semak kolum U, HMIS dan HMWA',
    'KONSISTENSI_TC1a': 'Nilai S19 adalah diluar julat. Semak kolum S18, S19 dan S20',
    'KONSISTENSI_TC1b': 'Nilai MSIC_1D = O, S20 = 2 dan KW tidak selaras. Mohon semak kolum KW â‰  458, kolum S20 = 2 dan MSIC_1D = O',
    'KONSISTENSI_TC2': 'Nilai MSIC_1D = T tetapi nilai S20 â‰  3. Semak kolum PKIS, S18, S19, S20 dan MSIC_1D =T',
    'KONSISTENSI_TC3': 'Nilai MSIC_1D adalah P tetapi nilai S20 adalah bukan 2',
    'KONSISTENSI_TC4': 'Nilai MASCO_1D adalah 9 dan nilai MSIC_1D = A tetapi nilai S20 adalah bukan 3, 4, 5. Semak kolum S18, S19 dan S20',
    'KONSISTENSI_TC5a': 'Nilai S18 dan SJ adalah diluar julat. Semak kolum S18, S19, SJ, MASCO_1D adalah kod 1 dan 2',
    'KONSISTENSI_TC5b': 'Nilai S18 dan SJ adalah diluar julat. Semak kolum S18, S19, S20 dan MASCO_1D adalah kod 1 dan 2',
    'KONSISTENSI_TC6': 'STATUS adalah GOV dan nilai S20 adalah selain 2. Semak kolum S18, S19, S20 dan STATUS',
    'KONSISTENSI_TC7': 'Nilai S20 dan STATUS adalah diluar julat. Semak kolum S18, S19, S20 dan STATUS',
    'KONSISTENSI_TC8a': 'Nilai S19 adalah diluar julat. Semak kolum S18, S19, S20 dan MSIC_1D',
    'KONSISTENSI_TC8b': 'Semak kategori bekerja sendiri (S20 = 4) dengan S18 dan S19',
    'KONSISTENSI_TC9': 'Nilai PKIS adalah diluar julat. Semak kolum PKIS, S18, S19 dan MSIC_1D',
    'KONSISTENSI_TC10': 'Nilai S19 diluar julat. Semak kolum S18, S19',
    'KONSISTENSI_TC11': 'Nilai S19 adalah 99000. Semak kolum S18, S19 dan KW',
    'KONSISTENSI_TC12': 'Nilai S19 adalah 98100 atau 98200. Semak kolum S18 dan S19',
    'KONSISTENSI_TC13': 'Nilai KET tidak selari dengan KW. Semak kolum Nama, KET, KW, NGRI dan NGRA',
    'KONSISTENSI_TC14': 'PKIS adalah 01, jantina adalah lelaki dan S10 adalah 02 (Kerja rumah/ tanggungjawab keluarga). Semak kolum U, S10 dan S15',       
    'KONSISTENSI_TC15a': 'Nilai PKIS adalah diluar julat. Semak kolum U, PKIS TP dan P',
    'KONSISTENSI_TC15b': 'Nilai PKIS adalah diluar julat. Semak kolum U, PKIS TP dan P',
    'KONSISTENSI_TC16a': 'Nilai S10 dan S15 adalah diluar julat. Semak kolum P, S10 dan S15',
    'KONSISTENSI_TC16b': 'Nilai S10 dan S15 adalah diluar julat. Semak kolum P, S10 dan S15',
    'KONSISTENSI_TC16c': 'Nilai S10 dan S15 adalah diluar julat. Semak kolum P, S10 dan S15'
}

In [5]:
def get_validation_details(row, mapping_dict):
    failed_validations = []
    for column in mapping_dict.keys():
        if row[column] == 0:
            failed_validations.append(mapping_dict[column])
    return ', '.join(failed_validations)

df['Julat_Details'] = df.apply(lambda row: get_validation_details(row, julat_mapping), axis=1)
df['Validation_Details'] = df.apply(lambda row: get_validation_details(row, konsistensi_mapping), axis=1)

In [6]:
df.head(5)

,KWS,JR,NOKEL,T,B,U,NG,DP,DB,BP,...,KONSISTENSI_TC13,KONSISTENSI_TC14,KONSISTENSI_TC15a,KONSISTENSI_TC15b,KONSISTENSI_TC16a,KONSISTENSI_TC16b,KONSISTENSI_TC16c,combined_result,Julat_Details,Validation_Details
0,1,4,25,21,9,26,10,7,136,24,...,1,1,1,1,1,1,1,1,"""NO KEL"" di luar julat,, ""BP2"" di luar julat,,...",Nilai Umur dan Taraf Perkahwinan tidak sesuai....
1,1,4,838,21,9,34,8,2,4,21,...,1,1,1,1,1,1,1,1,"""NO KEL"" di luar julat,, ""BP2"" di luar julat,,...",Nilai Umur dan Taraf Perkahwinan tidak sesuai....
2,1,4,22,21,9,24,10,7,133,77,...,1,1,1,1,1,1,1,1,"""NO KEL"" di luar julat,, ""BP2"" di luar julat,,...",Nilai Umur dan Taraf Perkahwinan tidak sesuai....
3,1,4,21,21,9,46,10,7,133,19,...,1,1,1,1,1,1,1,1,"""NO KEL"" di luar julat,, ""BP2"" di luar julat,,...",Nilai Umur dan Taraf Perkahwinan tidak sesuai....
4,1,4,23,21,9,38,10,8,52,12,...,1,1,1,1,1,1,1,1,"""NO KEL"" di luar julat,, ""BP2"" di luar julat,,...",Nilai Umur dan Taraf Perkahwinan tidak sesuai....

In [7]:
df = df.drop(columns=[col for col in df.columns if col.startswith(('KONSISTENSI_', 'JULAT_'))])

In [8]:
df.head(5)

,KWS,JR,NOKEL,T,B,U,NG,DP,DB,BP,...,S13_BULANAN,SJ_PMR,SJ_SPM,Kemahiran,Sektor,SSU,PSU,combined_result,Julat_Details,Validation_Details
0,1,4,25,21,9,26,10,7,136,24,...,NaN,2,1,1.0,5.0,100713602400020014,102,1,"""NO KEL"" di luar julat,, ""BP2"" di luar julat,,...",Nilai Umur dan Taraf Perkahwinan tidak sesuai....
1,1,4,838,21,9,34,8,2,4,21,...,NaN,2,1,1.0,3.0,080200402100B10047,81,1,"""NO KEL"" di luar julat,, ""BP2"" di luar julat,,...",Nilai Umur dan Taraf Perkahwinan tidak sesuai....
2,1,4,22,21,9,24,10,7,133,77,...,NaN,2,1,1.0,5.0,100713307700010010,101,1,"""NO KEL"" di luar julat,, ""BP2"" di luar julat,,...",Nilai Umur dan Taraf Perkahwinan tidak sesuai....
3,1,4,21,21,9,46,10,7,133,19,...,NaN,2,1,1.0,5.0,100713301900010006,101,1,"""NO KEL"" di luar julat,, ""BP2"" di luar julat,,...",Nilai Umur dan Taraf Perkahwinan tidak sesuai....
4,1,4,23,21,9,38,10,8,52,12,...,NaN,2,1,1.0,5.0,100805201200010031,101,1,"""NO KEL"" di luar julat,, ""BP2"" di luar julat,,...",Nilai Umur dan Taraf Perkahwinan tidak sesuai....

In [9]:
df.shape

(11179, 150)

In [10]:
# Extract the original file name
original_file_name = os.path.basename(dataset_path)

suffix = '_mapping'

# Create the new file name by adding the suffix
new_file_name = original_file_name.replace('.csv', '') + suffix + '.csv'

# Save the DataFrame as CSV using the new file name
df.to_csv(os.path.join(output_file_path, new_file_name), index=False)